@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.ttf');
}

body
{

}

.all
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-family: OpenSans-Regular, Georgia, Verdana, Arial, sans-serif;
}

header
{

}

header h1
{
	color: #d00635;
}

nav
{

}

.corps
{

}